$barWidth: $space-s + $space-xs;
$circleWidth: $space-s + $barWidth;//so the disc is always bigger than the bar
$stepperMargin: 26px;

.sp-sinistre-timeline {
  //we have to use nesting, because of the lack of classes in the markup
  position: relative;
  background-color: $lightGrey;
  border: 4px solid $primaryColor;

  @media ($tablet) {
    border: 0;
  }

  &::after {
    //triangle
    @include center-horizontally;

    content: '';
    width: 0;
    height: 0;
    top: 100%;
    border-style: solid;
    border-width: 18px 18px 0;
    border-color: $primaryColor transparent transparent transparent;
  }

  > ol {
    @media ($tablet) {
      display: table;
      width: 100%;
    }
    > li {
      position: relative;
      padding-left: $space-m + $barWidth;

      @media ($tablet) {
        display: table-cell;
        border-left: $space-xs / 2 solid $secondaryColor;
        border-right: $space-xs / 2 solid $secondaryColor;

        &:nth-of-type(1) {
          ol {
            @include position-steps(2);
          }
        }

        &:nth-of-type(2) {
          ol {
            @include position-steps(4);
            min-height: 300px;
          }
        }

        &:nth-of-type(3) {
          ol {
            @include position-steps(5);
          }
        }
      }

      a {
        display: inline-block;
      }

      > ol {
        padding: 0 $space-m;

        li {
          position: relative;

          &::before {
            //circles
            @include center-vertically;

            content: '';
            width: $circleWidth;
            height: $circleWidth;
            background-color: $secondaryColor;
            border-radius: 50%;
            left: -($barWidth / 2) - $space-m;
            transform: translate(-50%, -50%);

            @media ($tablet) {
              $circleWidth: $space-s + $space-xs + $barWidth;
              width: $circleWidth;
              height: $circleWidth;
              left: 50%;
            }
          }

          &.main {
            &::before {
              background-color: $primaryColor;
              border: $space-xs solid $secondaryColor;
              box-sizing: content-box;

              @media ($tablet) {
                border-width: 6px;
              }
            }
          }

          @media ($tablet) {
            position: absolute;
            top: calc(50% + #{$stepperMargin});
            padding: $space-m;
            text-align: center;
            z-index: 1;
            //so the bubbles inside it will be placed on the z-index

            &:nth-child(odd) {
              transform: translateY(-100%);

              &::before {
                top: 100%;
              }
            }

            &:nth-child(even) {
              vertical-align: bottom;

              &::before {
                top: 0;
              }

              a {
                margin-top: $space-m;
              }
            }
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        width: $barWidth;
        height: 100%;
        left: $space-m;
        background-color: $secondaryColor;

        @media ($tablet) {
          @include center-vertically;
          height: $barWidth;
          width: 100%;
          left: 0;
          top: calc(50% + #{$stepperMargin});
        }
      }

      &:not(.active) {
        @media ($tablet) {
          width: 22%;
        }
        &::before {
          background-color: $grey;
        }

        > ol {
          display: none;

          @media ($tablet) {
            display: block;

            a {
              display: none;
            }
          }
        }
      }
    }
  }

  .active {
    background-color: $primaryColor;
    color: $secondaryColor;

    .step-title {
      margin-bottom: $space-m;
      font-size: 2.8rem;
      text-transform: uppercase;
      line-height: 1.2;
      font-weight: bold;
      color: $secondaryColor;

      @media ($tablet) {
        font-size: 2.6rem;
      }

      &::after {
        content: none;
      }
    }

    .main::before {
      @media ($tablet) {
        $circleWidth: $space-m + $barWidth;
        width: $circleWidth;
        height: $circleWidth;
        border-width: $space-s;
      }
    }
  }
}

.step-title {
  position: relative;
  margin: 0;
  padding: $space-m;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $darkGrey;

  &::after {
    //triangle
    @include center-vertically;

    content: '';
    width: 0;
    height: 0;
    right: $space-m;
    border-style: solid;
    border-width: 11px 0 11px 12px;
    border-color: transparent transparent transparent $grey;

    @media ($tablet) {
      content: none;
    }
  }
}

.date {
  margin: 0;
  color: $secondaryColor;
  font-size: 1.5rem;
}

.label {
  margin-bottom: $space-m;
  color: $secondaryColor;
  font-size: 1.5rem;
  font-weight: bold;
}

//==========================----------------------- Time bubbles

$bubble-distance: $space-l;

.time-bubble {
  display: none;
}

@media ($tablet) {
  a:hover,
  a:focus {
    .time-bubble {
      @include center-horizontally;

      display: block;
      width: 200%;
      padding: $space-m;
      background-color: $secondaryColor;
      box-shadow: 0 10px 17px -3px rgba(0, 0, 0, .6);

      //triangle
      &::after {
        @include center-horizontally;

        content: '';
        width: 0;
        height: 0;
        border-style: solid;
      }

      .date {
        color: $darkGrey;
      }

      .label {
        color: $darkGrey;
        text-transform: uppercase;
      }

      .description {
        margin: 0;
        font-size: 1.4rem;
        font-weight: bold;
        color: $darkestColor;
      }
    }
  }

  .sp-sinistre-timeline > ol > li > ol li:nth-child(odd) {
    a:hover,
    a:focus {
      .time-bubble {
        top: 100%;
        margin-top: $bubble-distance + $circleWidth;

        //triangle
        &::after {
          @include center-horizontally;

          bottom: 100%;
          border-width: 0 20px 25px 20px;
          border-color: transparent transparent $secondaryColor;
        }
      }
    }
  }

  .sp-sinistre-timeline > ol > li > ol li:nth-child(even) {
    a:hover,
    a:focus {
      .time-bubble {
        bottom: 100%;
        margin-bottom: $bubble-distance + $circleWidth;

        //triangle
        &::after {
          @include center-horizontally;

          top: 100%;
          border-width: 25px 20px 0 20px;
          border-color: $secondaryColor transparent transparent;
        }
      }
    }
  }
}