$barWidth: $space-s + $space-xs;
$circleWidth: $space-s + $barWidth;//so the disc is always bigger than the bar

.sp-sinistre-timeline {
  position: relative;
  background-color: $lightGrey;
  border: 4px solid $primaryColor;

  @media ($tablet) {
    border: 0;
  }

  &::after {
    //triangle
    @include center-horizontally;

    content: '';
    width: 0;
    height: 0;
    top: 100%;
    border-style: solid;
    border-width: 18px 18px 0;
    border-color: $primaryColor transparent transparent transparent;
  }

  > ol {
    @media ($tablet) {
      display: table;
    }
    > li {
      position: relative;
      padding-left: $space-m + $barWidth;

      @media ($tablet) {
        display: table-cell;
        border-left: $space-xs / 2 solid $secondaryColor;
        border-right: $space-xs / 2 solid $secondaryColor;
      }

      a {
        display: inline-block;
      }

      > ol {
        padding: 0 $space-m;

        @media ($tablet) {
        @include position-steps(4);

          min-height: 300px;
        }

        li {
          position: relative;

          &::before {
            //circles
            @include center-vertically;

            content: '';
            width: $circleWidth;
            height: $circleWidth;
            background-color: $secondaryColor;
            border-radius: 50%;
            left: -($barWidth / 2) - $space-m;
            transform: translate(-50%, -50%);

            @media ($tablet) {
              left: 50%;
            }
          }

          &.main {
            &::before {
              background-color: $primaryColor;
              border: $space-xs solid $secondaryColor;
              box-sizing: content-box;
            }
          }

          @media ($tablet) {
            position: absolute;
            top: 50%;
            padding: $space-m;
            text-align: center;

            &:nth-child(odd) {
              transform: translateY(-100%);

              &::before {
                top: 100%;
              }
            }

            &:nth-child(even) {
              vertical-align: bottom;

              &::before {
                top: 0;
              }
            }
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        width: $barWidth;
        height: 100%;
        left: $space-m;
        background-color: $secondaryColor;

        @media ($tablet) {
          @include center-vertically;
          height: $barWidth;
          width: 100%;
          left: 0;
        }
      }

      &:not(.active) {
        @media ($tablet) {
          width: 22%;
        }
        &::before {
          background-color: $grey;
        }

        > ol {
          display: none;
        }
      }
    }
  }

}

.step-title {
  position: relative;
  margin: 0;
  padding: $space-m;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $darkGrey;

  &::after {
    //triangle
    @include center-vertically;

    content: '';
    width: 0;
    height: 0;
    right: $space-m;
    border-style: solid;
    border-width: 11px 0 11px 12px;
    border-color: transparent transparent transparent $grey;
  }
}

.active {
  background-color: $primaryColor;
  color: $secondaryColor;

  .step-title {
    margin-bottom: $space-m;
    font-size: 2.8rem;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
    color: $secondaryColor;

    @media ($tablet) {
      font-size: 2.6rem;
    }

    &::after {
      content: none;
    }
  }
}

.date {
  margin: 0;
  color: $secondaryColor;
  font-size: 1.5rem;
}

.label {
  margin-bottom: $space-m;
  color: $secondaryColor;
  font-size: 1.5rem;
  font-weight: bold;
}

//==========================----------------------- Time bubbles
.time-bubble {
  display: none;
}