/* ==================--------------- COLORS ---------------================== */
$primaryColor: #0688cc;
$secondaryColor: white;

// 50 shades of grey...
$grey: #bfbfbf;
$lightGrey: #eee;
$darkGrey: #7a7a7c;
$grey-alt: #778aa5;

/* ==================--------------- WHITE SPACES ---------------================== */
$space-xs: 4px;
$space-s: 8px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;

/* ==================--------------- MEDIA QUERIES ---------------================== */
$mobile: "max-width: 768px";
$tablet: "min-width: 769px";
$desktop: "min-width: 1024px";
